@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.title-gradient {
background-image: linear-gradient(to right top, #eb965e, #c27456, #96554a, #693b3a, #3d2427, #371e22, #30181c, #2a1217, #44181f, #601d25, #7c2328, #972b28);background-image: linear-gradient(to left top, #eb965e, #dc8252, #cd6e47, #bd5b3c, #ad4733, #9a3930, #862d2c, #722127, #561b23, #3b161d, #210f13, #000000);background-image: linear-gradient(to bottom, #eb965e, #dc8252, #cd6e47, #bd5b3c, #ad4733, #9a3930, #862d2c, #722127, #561b23, #3b161d, #210f13, #000000);background-image: linear-gradient(to top, #eb965e, #dc8252, #cd6e47, #bd5b3c, #ad4733, #9a3930, #862d2c, #722127, #561b23, #3b161d, #210f13, #000000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 6s linear infinite;
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}

.truncate-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}

.title-lb {
  color: #3898ec; 
}


.blur-bg {
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}

.card {
  background-color: rgba(0, 0, 0, 0.7);   
}